html,body,#root{
    background-color: black;
    color: white;

}
@keyframes waveEffect {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.wave-text {
    font-family: cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.wave-text span {
    display: inline-block;
    animation: waveEffect 1s ease-in-out infinite;
}
.info {
    position: relative;
    overflow: hidden;
}

.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: 0;
}

.info > div {
    position: relative;
    z-index: 1;
}